.bookOrderSetting{
    
    font-size: 12px;
    color:#999;
    width: 100%;
    display: inline;
//  height: 500px;
    background: red;
    .title{
    height: 40px;
    line-height: 40px;
    width: 96%;
    padding: 0 2%;
    background: #ccc;
        
    }
    .content{
//          
            margin-top: 18px;
            width: 96%;
            padding: 0 2%;
           .outInfo{
               background: white !important;
               border: 1px solid #ccc;
               width: 100%;
               .outInfotitle{
                   background: #F3F3F3;
                   height: 50px;
                   line-height: 50px;
                   width: 96%;
                   padding: 0 2%;
                   border-bottom:1px solid #ccc ;
               }
               .outInfobottom{
                   height: 500px;
                   width: 100%;
//                 background: red;
                   position: relative;
                   top: 0;
                   left: 0;
                   .main{
                       color: #666666;
                       position: absolute;
                       top: 50%;
                       left: 50%;
                       text-align: center;
                        -webkit-transform: translate(-50%, -50%);
                        -moz-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                            
                            div{
                                position: relative;
                               
                                input{
                                        height: 30px;
                                        width: 200px;
                                        margin-top: 10px;
                                        background-color: rgba(255, 255, 255, 1);
                                        /* background-color: #fff; */
                                        border: 1px solid #E4E4E4;
                                        text-indent: 20px;
                                        font-size: 12px;
                                        width: 180px;
                                        height: 40px;
                                        font-family: '微软雅黑';
                                        font-weight: 405;
                                        font-style: normal;
                                        font-size: 14px;
                                        text-align: left;
                                }
                                .block_span{
                                        position: absolute;
                                        right: 4px;
                                        top: -13px;
                                        width: 40px;
                                        height: 40px;
                                        line-height: 40px;
                                        font-weight: 409;
                                        font-style: normal;
                                        color: #666666;
                                        z-index: 88;
                                        background: #F2F2F2;
                                        border-left: 1px solid #E4E4E4; 
                                        border-right: 1px solid #E4E4E4;
                                }
                                div{
                                    display: inline-block;
                                    position: absolute;
                                    top:0;
                                    right: -40px;
                                }
                            }
                   }
                   button{
                       background: #1ABC9C;
                       border: none;
                       width: 80px;
                       height: 30px;
                       border-radius: 5px;
                       color: white;
                       margin-top: 20px;
                   }
               }
           }
    }
}
