 @mixin float{
     float: left;
     display: inline;
 }
 
 
 #list{
        overflow: hidden;
        width: 100%;
        margin: 0 5%;
    .list{
           @include float;
           width: 10%;
       ul{
        display: inline-block;
        background: #EFEFEF;
        width: 100%;
        display: flex;
        flex-direction: column;
        li{
            list-style: none;
            height: 35px;
            line-height: 35px;
            text-align: center;
            a{
                list-style: none;
                color: #5D5D5D;
            }
        }
        .first{
            height: 40px;
            background: #ccc;
        }
       }
       
  }

  }