@mixin float{
     float: left;
     display: inline;
 }
// @mixin padding{
//   width: 96%;
//          padding: 0 2%;
// }
 //居中 对其
 @mixin textcenter{
     line-height: 30px;
     height: 30px;
     background-color: #EFEFEF;
     text-indent: 20px;
 }
     .sublist{
           width: 100%;
    display: inline;
    /* float: right; */
    margin: 0;
    padding: 0;
    /* margin-right: 10%; */
        .title{
            height: 40px;
            line-height: 40px;
            width: 96%;
            padding: 0 2%;
            background: #ccc;
            border-bottom: 1px solid #ccc;
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            align-content: center;
//        
        }
        #box{
               display: inline-block;
                width: 5px;
                height: 20px;
                background: #1ABC9C;
                margin-top: 10px;
                margin-right: 5px;
            }
        .main{
            margin-top: 18px;
            width: 96%;
            padding: 0 2%;
            .detail{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-around;
                .de-list{
                        background: #F7F9F8;
                        padding: 10px;
                        width: 22%;
                        height: 50px;
                        border: 1px solid #ccc;
                        overflow: hidden;
                        .primary{
                            text-align: center;
                             width:50% ;
                             height: 100%;
                            @include float;
                        }
                        .secondary{
                            height: 100%;
                             width:50%;
                             float: right;
                             display: flex;
                             flex-direction: column;
                             .color{
                                 color: red;
                             } 
                        }
                }
            }
     
        }
           .table{
               margin-top: 20px;
               width: 96%;
               padding: 0 2%;
             ul{ border: 1px solid #ccc;
                 width: 100%;
                 li{ 
                     display: flex;
                     flex-direction: row;
                     justify-content: space-around;
                     height: 30px;
                     width: 100%;
                     list-style: none;
                     border-bottom: 1px solid #ccc;
                     &:last-of-type{
                         border-bottom:none;
                         
                     }
//                   &:nth-of-type(1){
//                       background-color: #EFEFEF;
//                   }
                     &:nth-child(1){
                         display: inline-block;
                         background-color: #EFEFEF;
//                       text-align: left;
                         float: left;
//                       text-indent: 20px;
//                       line-height: 30px;
                         @include textcenter;
                     }
                     span{
                         line-height: 30px;
                         text-align: center;
                         display: flex;
                         justify-content: space-between;
                         width: 30%;
                         height: 100%;
                         border-right: 1px solid #ccc;;
                         &:last-of-type{
                             border-right:none;
                         } 
                         .primary{
                             float: left;
                             width: 54%;
                             
                         }  
                         .decondary{
                             @include float;
                             width:30%;
                         }             
                     }
                 }
                 
             }
         }
         
         .operational_entrance{
               margin-top: 20px;
               width: 96%;
               padding: 0 2%;
               ul{
                   border: 1px solid #ccc;
                   width: 100%;
                   li{
                       &:nth-child(1){
                           height: 30px;
                           width: 100%;
                           border-bottom:1px solid #ccc;
                       }
                       &:nth-child(2){
                           height: 100px;
                           width: 100%;
                           display: flex;
                           flex-direction: row;
                           justify-content: space-around;
                           text-align: center;
//                         align-items:center;
                           margin-top: 13px;
                           span{
                               height: 50px;
                               line-height: 50px;
                               width:50px;
                               display: flex;
                               flex-direction: column;
                               font-size: 12px;
                              
                           }
                           img{
                               height: 50px;
                               width: 50px;
//                             line-height: 50px;
                           }
                       }
                   }
                   .first{
                     
                     div{
                         @include textcenter;
                     }
                 }
               }
         }
        .pandect{
            margin-top: 2%;
            display: flex;
            flex-direction:row;
            justify-content: space-between;
            width: 96%;
            padding: 0 2%;
            .box{
                width: 49%;
                height: 7em;
                border: 1px solid #cccccc;
                .box-title{
                    height: 25%;
                    width: 100%;
                    background: #EFEFEF;
                    line-height: 30px;
                    border-bottom: 1px solid #cccccc;
                    text-indent:20px;
                }
                .box_bottom{
                    height: 75%;
                    width: 100%;
                    background: palegoldenrod;
                    display: flex;
                    
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: space-around;
                    align-items: center;
                 
                    .minbox{
                        height: 65%;
                        width: 23%;
//                      background: indianred;
                        display: flex;
//                      justify-content: flex-start;
                        flex-direction: column;
                        align-content:center;
                        position: relative;
                        font-size:14px ;
                     .center{
                        position: absolute;  
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        text-align: center;
                        & div:nth-child(1){
                            color: red;
                        }
                     }
                    }
                }
            }
        }
         
        
    }